/* Body */
body{
    background-color: beige;
}

/*  Navbar  */

.navigation .navbar-brand{
    color: rgb(41, 39, 29); 
    margin-left: 20px; 
    padding: 30px; 
    font-weight: bold; 
    font-size: x-large;
    font-family: 'Arial', regular;
    border: 5px double;
    border-radius: 15px 50px 30px;
    border-width: medium;
}

.nav-link{
    color: rgb(41, 39, 29); 
    font-weight: bold; 
    font-family: 'Arial', regular;
    font-size: large;

}

/* a:hover{
    color: rgb(92, 82, 82) 
} */


.dropdown-menu{
    background-color:rgb(196, 190, 179) !important;
}

.nav-link:hover{
    background-color:#E7E7E7 !important;
}

.box {
    margin-top: 60px; 
    margin-bottom: 62px; 
    padding: 10px 20px 15px; 
    color:black;
}

.img-thumnbnail{
  width: 400px;
  height: 400px;
}


/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
.sidebar{
  position: fixed;
  top: 0;
  right: 5px;
  width: 15em;
  height: 100%;
}

@media (max-width: 550px) {
    .navbar-expand-lg navbar-light bg-light {
      padding: 10px;
    }
  
    .box {
      margin-right: 30px;
      margin-left: 30px;
    }
  
    .navbar-expand-lg navbar-light bg-light ul {
      visibility: hidden;
    }
  
    #navbarSupportedContent {
      visibility: visible;
    }
  }



